@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

* {
  box-sizing: border-box;
}

/* GLOBAL STYLES */

body,
.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  background: #242323
}

button {
  background: none;
  border: 1px solid #ea7a0a;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: rgb(156, 161, 164);
}
button:hover {
  color: rgb(116, 119, 124);
  border: 4px solid #999;
}

.App {
  display: flex;
}

/* SIDEBAR STYLES */

.app-sidebar {
  
  width: 30%;
  height: 100vh;
  border-right: 1px solid #3b3939d2;
  resize: horizontal;
  overflow: auto;
  min-width: 200px; /* Minimum width to prevent collapsing */
  max-width: 50%; /* Maximum width to prevent overflowing */
}

.app-sidebar-header {
  display: flex;
  color: #999;
  justify-content: space-between;
  padding: 25px;
}
.app-sidebar-header h1 {
  margin: 0;
  font-family: cursive;
}

.app-sidebar button{
  border-radius: 10px;
  border: rgb(53, 54, 56) 2px solid;
  padding: 7px 15px;
}
.app-sidebar-notes {
  height: calc(100vh - 78px);
  overflow-y: scroll;
}
.app-sidebar-note {
  padding: 25px;
  cursor: pointer;
}
.sidebar-note-title {
  display: flex;
  justify-content: space-between;
  color: #999;
}
.app-sidebar-note button {
  color: rgb(207, 108, 58);
}

.app-sidebar-note button:hover{
  color: rgb(213, 20, 81);
}

.app-sidebar-note p {
  margin: 10px 0;
  color: rgb(84, 101, 116);
}
.app-sidebar-note small {
  display: block;
  color: #999;
}

.app-sidebar-note:hover {
  background: #2d2a2a;
  color: #999;
}
.app-sidebar-note.active,
.app-sidebar-note.active small {
  background: rgb(36, 43, 45);
  color: white;
}

/* NOTE EDITOR/PREVIEW (MAIN) STYLES */

.app-main {
  width: 70%;
  height: 100vh;
}
.app-main-note-edit,
.app-main-note-preview {
  height: 50vh;
}

.no-active-note {
  width: 70%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: #999;
}

/* Editing */
.app-main-note-edit {
  padding: 25px;
}

.app-main-note-edit input,
textarea {
  display: block;
  border: 1px solid #231f1f;
  margin-bottom: 20px;
  width: 100%;
  height: calc(50vh - 130px);
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
  background-color: #2c3137;
  color: #999;
  border-radius: 15px;
}
.app-main-note-edit input {
  height: 50px;
  font-size: 2rem;
}

/* Preview */
.app-main-note-preview {
  position: relative;
  width: 100%; /* Ensure the width takes up full space */
  border-top: 1px solid #000000;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.02);
  color: #999;
  min-height: 50vh; /* Initial minimum height */
  max-height: 90vh; 
}

.preview-title {
  padding: 20px 20px 0 20px;
  margin: 0;
}

.markdown-preview {
  padding: 0 25px 25px 25px;
  font-size: 1rem;
  line-height: 2rem;
}
.json-preview {
  padding: 0 25px 25px 25px;
  font-size: 1rem;
}

.drag-handle {
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 20px; /* Adjust the height as needed */
  cursor: ew-resize;
  background: transparent;
}

.vertical-drag-handle {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 10px;
  cursor: ns-resize;
  background: transparent;
}